.col{
  &-title {
    font-weight: bold;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 66px;
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid var(--bs-primary);
  }

  &-btn-mode {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

}
.articles {
  &.list-mode{
    //
  }
  &.card-mode {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width:1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:766px) {
      grid-template-columns: 1fr;
    }
  }
}
